body {
    font-family: "Arial", sans-serif;
    background-color: chocolate;
}

.home {
    background-color: antiquewhite;
    width: 60%;
    height: 100%;
    text-align: center;
    margin: 16px auto;
    padding: 8px;
}

.home a {
    color: brown;
}

.home a:hover {
    color: chocolate;
}

.recipe {
    width: 80%;
    background-color: antiquewhite;
    margin: 16px auto;
    padding: 20px;
}

.all-recipes-list {
    list-style: none;
    margin: 16px auto;
    padding: 0;
}

.all-recipes-list li {
    background-color: gainsboro;
    border: 2px solid black;
    width: 25%;
    margin: 8px auto;
    padding: 8px;
}

h1 {
    font-family: "Georgia", serif;
    text-align: center;
}

.foodimg {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}